@page "/"
<div class="text-center">
    <h1>Welcome to Big Cleopatra Burgers! Way Better Than that Little Pizza Guy!</h1>
    <SurveyPrompt Title="Want to Check Out Our Menu?" />
    <Menu />
</div>


